.line {
  fill: none;
  stroke-width: 2px;
}

.green {
  stroke: green;
}

.blue {
  stroke: blue;
}

.text {
  font-size: 16px;
  text-anchor: middle;
}

.smurf-text {
  fill: blue;
}

.dow-text {
  fill: green;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 110px;
    height: 110px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
